@layer base {
    :root {
        --black: #000501;
        --tan: #b6b57b;
        --green: #31b28a;
        --lightgreen: #8cdfc5;
        --red: #ff4404;
        --white: #ffffff;

        --main: "Lato", sans-serif;
        --heading: "Josefin Sans", sans-serif;
        --mono: "Fira mono", monospace;

        --base-size: 1.2rem;
        --scale: 1.25;
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);
    }

    html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    body {
        font-family: var(--main);
        line-height: 1.5;
        font-size: var(--base-size);
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--heading);
    }

    h1 {
        font-size: var(--h1);
    }

    h2 {
        font-size: var(--h2);
    }

    h3 {
        font-size: var(--h3);
    }

    h4 {
        font-size: var(--h4);
    }

    h5 {
        font-size: var(--h5);
    }

    h6 {
        font-size: var(--h6);
    }

    .mono {
        font-family: var(--mono);
    }

    .colors {
        display: flex;
    }

    .colors>* {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border: 1px solid black;
    }

    .white {
        background-color: var(--white);
    }

    .black {
        background-color: var(--black);
    }

    .tan {
        background-color: var(--tan);
    }

    .green {
        background-color: var(--green);
    }

    .lightgreen {
        background-color: var(--lightgreen);
    }

    .red {
        background-color: var(--red);
    }


    a:hover {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    figure {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }
}
@layer intro {
    .intro {
        padding: 4rem 0 10rem 0;
        background-image: url("https://assets.codepen.io/296057/fem-featured-top.png"),url("https://assets.codepen.io/296057/fem-stars-sky.jpg");
        background-repeat: repeat-x,no-repeat;
        background-position: bottom center ,86% 10%;
        color: var(--white);
    }

    .intro a {
        color: var(--white);
    }

    .intro h2 {
        text-transform: uppercase;
    }

    .name {
        font-weight: 700;
        font-size: var(--h5);
    }
}
@layer navbar {
    nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-flow: row wrap;
        gap: 2rem;

    }

    header a {
        text-decoration: none;
        color: var(--white);
    }

    
    header a:hover {
        color: var(--green);
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-flow: wrap;
        /* background-color: var(--black); */
        color: var(--white);
        margin-bottom: 6rem;
    }

    header h1 {
        font-size: var(--h3);
        font-weight: 300;
        font-family: var(--mono);
        margin: 0;
    }
    h1 svg {
        margin-right: 1rem;
    }
    header a {
        text-decoration: none;
        color: var(--white);
    }

    header a:hover {
        color: var(--green);
    }

    header svg {
        width: 30px;
        fill: var(--white);
        margin-top: 0.5rem;
    }
    
    header a:hover svg{
        fill: var(--green);
    }
    header a:hover {
        color: var(--green);
    }
    nav {
        font-family: var(--heading);
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
    nav .navbtn {
        padding: 0.6rem 0.4rem 0.4rem 0.4rem;
        color: var(--white);
        border-radius: 8px;
        background-color: var(--green);
        border: none;
        font-size: 15px;
        font-weight: bold;
        

    }
     .navbtn:hover {
        background-color: var(--tan);
        color: var(--black);
        cursor: pointer;
    }

    @media (max-width: 870px) {
        header {
            justify-content: center;
        }

        header h1 {
            flex-basis: 100%;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    @media (max-width: 640px) {
        header {
            justify-content: space-between;
            /* background-color: var(--black); */
        }
        .Design {
            font-size: var(--h3);
        }
        .intro .container p {
            font-size: 16px;
        }
        .intro .container .name {
            font-size: 20px;
        }

        header h1 {
            flex-basis: auto;
            font-size: 2rem;
        }
        .navbtn {
            display: inline-block;
        }

        header button {
            display: block;
            font-size: 1.8rem;
            line-height: 1;
            border: 0;
            background-color: transparent;
            color: var(--white);
            margin-top: -1.5rem;
        }

        header button:hover {
            color: var(--green);
        }

        header button::after {
            content: "\2630";
            cursor: pointer;
        }

        nav {
            position: fixed;
            top: 0;
            right: 200%;
            width: 100vw;
            height: 100vh;
            background: var(--white);
            padding-top: 20%;
            transition: right 0s 0.5s opacity 0.5s;
        }

        button:focus+nav,
        button:focus-within+nav {
            right: 0;
            opacity: 1;
            transition: right 0s, opacity 0.5s;
        }

        nav ul {
            display: block;
            text-align: center;
            position: relative;
            top: -50vh;
            transition: top 0.5s;
        }

        button:focus+nav ul,
        button:focus-within+nav ul {
            top: 0;
        }

        nav a:any-link:not(.navbtn) {
            display: block;
            padding: 1.5rem;
            color: var(--green);
        }

       

        nav ul::after {
            content: "\2716";
            color: var(--green);
            display: block;
            position: absolute;
            top: 1.125rem;
            right: 1.5rem;
            font-size: 3rem;
            line-height: 1;
        }

        nav a svg {
            fill: var(--green);
        }

        nav a:hover,
        nav a svg:hover {
            color: var(--tan);
            fill: var(--tan);
        }
    }
     @media (max-width: 370px) {
        header h1{
            font-size: var(--h5);
        }
        .Design {
            font-size: 2rem;
        }
    }
}

@layer about {
    #education {
        padding: 50px 15px 20px 15px;
        border-bottom: 1px solid #dcd9d9;
        text-align: center
    }
    
    #education h2 {
        color: #374054;
        margin-bottom: 50px
    }
    
    .education-block {
        max-width: 700px;
        margin: 0 auto 30px auto;
        padding: 15px;
        border: 1px solid #dcd9d9;
        text-align: left
    }
    
    .education-block h3 {
        font-weight: 500;
        float: left;
        margin: 0;
        color: #374054
    }
    
    .education-block span {
        color: #74808a;
        float: right
    }
    
    .education-block h4 {
        color: #74808a;
        clear: both;
        font-weight: 500;
        margin: 0 0 15px 0
    }
    
    .education-block p,
    .education-block ul {
        margin: 0;
        color: #74808a;
        font-size: 0.9em
    }
    
    .education-block ul {
        padding: 0 0 0 15px
    }

    @media (max-width: 400px) {
        #education h2 {
            font-size: var(--h3);
        }
        #education h3 {
            font-size: var(--h5);
        }
        .education-date {
            font-size: 0.8rem;
        }
        #education h4 {
            font-size: var(--h6);
        }
        #education p {
            font-size: 0.9rem;
        }
        #education ul li {
            font-size: 0.9rem;
        }
    }
}

@layer Projects {
    .projects {
        background-color: white;
        color: var(--black);
        text-transform: uppercase;
        background-image: url("https://assets.codepen.io/296057/fem-feature-bottom.png"),url("https: //assets .codepen .io/ 296057px /fem feature-bkgd.png");
        background-repeat: repeat-x,repeat;
        background-position: bottom center, center center;
        padding: 6rem 0;
    }
    .projects .container {
        margin-top: -5rem;
    }
    figure {
        display: grid;
        grid-template-rows: 1fr 100px;
        
    }
    figure img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    figure a {
        color: var(--white);
        text-decoration: none;
        grid-row: 1/3;
        grid-column: 1/2;
    }
    figure a:hover {
        color: var(--green);
    }
    figcaption {
        background-color: var(--black);
        opacity: 0.8;
        text-align: center;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    figcaption h3 {
        margin-bottom: 0;
        font-size: var(--h5);
    }
    figcaption ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 2rem 0;
        text-transform: uppercase;
        font-family: var(--mono);
    }
    figcaption li {
        display: inline-block;
    }
    .topgrid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
    .topgrid figure:first-child {
        grid-row: span 2;
    }
    .topgrid h3 {
        margin-bottom: 0;
        font-size: var(--h5);
    }
    .bottomgrid {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 2rem;
        margin: 2rem 0;
    }

    @media (max-width: 992px) {
        .topgrid {
            display: block;
        }
        .topgrid figure {
            margin-bottom: 4rem;
        }
        .bottomgrid {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 6rem 2rem;
        }
        .bottomgrid > * {
            flex-basis: 30%;
        }
        .bottomgrid  a img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    @media (max-width: 667px) {
        .bottomgrid {
            gap: 2rem;
        }
        .bottomgrid a {
            flex-basis: 80%;
        }
        .topgrid figure {
            margin-bottom: 2rem;
        }
        .projects h2 {
            font-size: var(--h5);
        }
        figcaption h3 {
            font-size: var(--base-size);
        }
    }
}
@layer contact {
    .contact {
        padding: 4rem 1rem;
        background: var(--black) url("https://assets.codepen.io/296057/fem-stars-sky.jpg") center center;
        background-repeat: no-repeat;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-info h2 {
        text-transform: uppercase;
    }
    .contact a{
        text-decoration: none;
        color: var(--black);
    }

    .btn {
        background-color: var(--green);
        padding: 8px 20px;
        border: none;
        border-radius: 8px;
        font-size: var(--h6);
        font-family: var(--mono);
        cursor: pointer;
        margin-top: 35px;
        text-transform: uppercase;
        color: var(--black);
    }

    .btn:hover {
        background-color: var(--tan);
    }
    @media (max-width: 640px) {
        .contact-info h2 {
            font-size: var(--h5);
        }
        .contact-info p {
            font-size: 14px;
            text-align: center;
        }
    }
}
@layer footer {
    footer {
        padding: 6rem 0rem;
        background: var(--black) url("https://assets.codepen.io/296057/fem-stars-sky.jpg") center center;
        background-repeat: no-repeat;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-info h2 {
        text-transform: uppercase;
        text-align: center;
    }

    footer ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footer-info ul a {
        text-decoration: none;
        cursor: pointer;
    }

    .footer-info ul svg {
        width: 40px;
        fill: var(--white);
        margin-top: 0.5rem;
    }

    .footer-info ul a:hover svg {
        fill: var(--green);
    }

    @media (max-width: 640px) {
        .footer-info p {
            font-size: 1rem;
        }
        .footer-info h2 {
            font-size: var(--h5);
        }
        
    }
}
